* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(20, 17, 17);
    font-weight: 100px;

}
.header {
    background-color: rgb(12, 13, 14);
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    color: rgb(221, 210, 210);
}

.post {
    background-color: rgb(12, 13, 14);
    width: 500px;
    height: 500px;
    margin: 0 auto 10px;
    border-radius: 10px;
    color: rgb(221, 210, 210);
}

#post-head {
    width: 100%;
    display: flex;
}

#post-head > h2{
    width: 90%;
    padding-left: 10px;
}


#post-head > p{
    width: 10%;
    color: lightgrey
}    

#post-img {
    width: 100%;
    height: 350px;
}

#post-img > img {
    width: 100%;
    height: 100%;
}

#interaction-bar{
    height: 20px;
    display: flex;
    margin-top: 5px;
}

#interaction-bar > i {
    height: 3px;
    margin: 5px 5px 0;
}

#interaction-bar > i {
    height: 3px;
    margin: 5px 5px 0;
}

#interaction-bar > #heart {
    color: white;
}

#interaction-bar > #heart:hover {
    color: red;
}

#interaction-bar > #comment {
    color: white;
}

#interaction-bar > #comment:hover {
    color: rgb(161, 160, 160);
}

#interaction-bar > #papper-plane {
    color: white;
}   

#interaction-bar > #papper-plane:hover {
    color: rgb(161, 160, 160);
}

#post-desc > p{
    padding-left: 10px;
}